/MegaChallengeCasino/MegaChallengeCasino/bin/
/MegaChallengeCasino/MegaChallengeCasino/obj/
/ChallengeHeroMonsterClassesPart1/ChallengeHeroMonsterClassesPart1/bin/
/ChallengeHeroMonsterClassesPart1/ChallengeHeroMonsterClassesPart1/obj/
/ChallengeSimpleDarts/ChallengeSimpleDarts/bin/
/ChallengeSimpleDarts/ChallengeSimpleDarts/obj/
/ChallengeStudentCourses/ChallengeStudentCourses/bin/
/ChallengeStudentCourses/ChallengeStudentCourses/obj/
/MegaChallengeWar/MegaChallengeWar/bin/
/MegaChallengeWar/MegaChallengeWar/obj/